
<h1>Stupid Coaching</h1>
<p class='banner'><%= @question %></p>
<p class='banner'>- You</p>
<p class='banner'><%= @answer %></p>
<p class='banner'>-Your coach</p>
<h2><%= link_to "Ask an other question", ask_path %></h2>
